
  <div class="state">
     Rest Period: 30s
    <div class="state-inactive"> </div>
  </div>
  <% for i in 1..5 do %>
  <div class="exercise">
      <div class="index"> <div class="index-pin"> <%= i %> </div> </div>
      <%= @reps %>
      <div class="name"> reps </div>
      <div class="reps"> reps </div>
      <div class="spin">  </div>
    </ul>
  </div>  
  <% end %>


<script>
alert("hello");
</script>